@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	list-style-type: none;
	
}

.toggle-header {
  background-color: #FFC7AF;
  padding: 10px 5px;
  margin-bottom: 5px;
}


.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 165, 0, 0.5);
}
.navbar-brand {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}
.custom-bg-color {
    background-color: lightgray;
}

body {
	font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
	background-color: #FFEFD5; 
}

.body-content {
      padding-left: 100px;
      padding-right: 100px;
    }
  
  @media (max-width: 500px) {
    .body-content {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  

.swiper-container {
	max-width: 100%;
	margin: 0 auto;
    overflow: hidden;

  }

  .swiper-slide {
	width: 100%; 
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
  }
  

  .swiper-slide img {
	width: 100%;
	max-height: 390px;
	margin: 0 auto;
	object-fit: cover;
  }
  
  @media (max-width: 500px) {
	.swiper-slide img {
	  height: 80vw;
	}
}

.toggle-list {
    list-style-type: none;
}

 .toggle-list li:not(:last-child)::after {
    content: "";
    display: block;
    height: 10px;
}

.scrollingElement {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin-top: 20px; 
    margin-bottom: 20px; 
  }
  .show {
    opacity: 1;
  }
  .food-heading {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px; 
  }
  .coffee-heading {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .food3.jpg{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .image-with-text1,
  .image-with-text2,
  .image-with-text3 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
  }
  .image-with-text1 img,
  .image-with-text2 img,
  .image-with-text3 img{
    width: 453px;
    height: 340px;
    object-fit: cover;
  }
 
  .text-container1,
  .text-container2,
  .text-container3{
    margin-left: 20px;
    margin-top: 20px;
  }

  @media (max-width: 500px) {
    .image-with-text1 img,
    .image-with-text2 img,
    .image-with-text3 img {
      width: 100%;
      height: auto;
    }
    .text-container1,
    .text-container2,
    .text-container3 {
      margin-top: 10px;
    }
    .image-with-text1,
    .image-with-text2,
    .image-with-text3 {
      flex-direction: column;
      text-align: center;
    }
  }

.container {
    position: relative;
  }

  .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
  }


.footer-content {
    background-color: darkgray;
    display: grid;
    place-items: center;
    height: 100px;
  }

  @media (max-width: 576px) {
    .footer-content .col {
      font-size: 0.6rem;
    }
  }
  
